h2 {
    text-align: center;
}

form {
    padding: 20px;
    max-width: 100%;
}

h2 {
    color: black;
    padding-top: 150px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    width: 30%;
    margin-bottom: 40px;
    
}


label textarea {
    max-width: 100%;
    display: block;
}

.submit {
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    margin-top: 40px;
    margin-left: 25%;
}

.submit:focus {
    box-shadow: 0 0 0 black;
    margin-top: calc(40px + 2px);
    margin-left: calc(25% + 2px);
}

@media screen and (max-width: 950px){
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 488px) {
    .container {
        width: 60%;
    }
}