footer {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 5%;
}

footer .owner{
    margin-right: 2%;
    margin-bottom: 20px;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li img {
    width: 20px;
}

footer article {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
h5{
    margin: 0;
}