/* MAIN */
main,
footer {
  /* padding: 0 90px 0 100px; */
  padding: 0 10% 0 8%;
}

.about {
  color: black;
  padding-top: 200px;
  display: flex;
  margin-bottom: 150px;
}
.about section{
    margin-right: 10%;

}
section:not(.owner) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  width: 50%;
}

.features section {
  width: 70%;
}
h1 {
  font-size: 30px;
  margin-bottom: 0;
}

.about .hero {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 5%;
  background: url(images/logo.jpg);
  background-size: cover;
}

.features {
  color: black;
  margin-top: 10%;
  display: flex;
  margin-bottom: 100px;
}

.features img {
  width: 450px;
  margin-right: 3%;
}

.hero {
  position: relative;
}

.brand {
  display: block;
  position: absolute;
  background: url(images/hero.png);
  border-radius: 50%;
  box-shadow: 2px 2px black;
}

.daihatsu {
  width: 90px;
  height: 90px;
  top: 40px;
  left: -45px;
  background-position: -54px -97px;
}

.daihatsu:hover {
  box-shadow: 0 0 0 #000000;
  top: calc(40px + 2px);
  left: calc(-45px + 2px);
}

.suzuki {
  width: 90px;
  height: 90px;
  top: -40px;
  left: 120px;
  background-position: -243px -45px;
}

.suzuki:hover {
  top: calc(-40px + 2px);
  left: calc(120px + 2px);
  box-shadow: 0 0 0 #000000;
}

.datsun {
  width: 75px;
  height: 75px;
  top: 70px;
  right: -30px;
  background-position: -340px -164px;
}

.datsun:hover {
  top: calc(70px + 2px);
  right: calc(-30px - 2px);
  box-shadow: 0 0 0 #000000;
}

.honda {
  width: 75px;
  height: 75px;
  bottom: -28px;
  right: 20px;
  background-position: -292px -332px;
}

.honda:hover {
  bottom: calc(-28px - 2px);
  right: calc(20px - 2px);
  box-shadow: 0 0 0 #000000;
}

.toyota {
  width: 76px;
  height: 76px;
  bottom: -20px;
  left: 30px;
  background-position: -108px -322px;
}

.toyota:hover {
  bottom: calc(-20px - 2px);
  left: calc(30px + 2px);
  box-shadow: 0 0 0 #000000;
}

@media screen and (max-width: 1024px) and (min-width: 760px) {
  section:not(.owner) {
    font-size: 18px;
  }

  .about .hero {
    width: 250px;
    height: 250px;
  }

  .features img {
    width: 300px;
  }
}

@media screen and (max-width: 760px) and (min-width: 400px) {
  .about {
    padding-top: 100px;
  }

  .about,
  .features {
    display: block;
  }

  .about .hero {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  section:not(.owner) {
    font-size: 18px;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 100px;
  }

  .features img {
    display: block;
    width: 350px;
    margin: auto;
  }
}

/* galeri thumbnail */
.main-scroll-div a {
  display: inline-block;
  min-width: 250px;
  height: 150px;
  margin: 1px 10px;
}

.child {
  display: inline-block;
  overflow: hidden;
  background-color: #939393;
}

.thumb-agya {
  background: url(images/toyotaagya.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-ayla {
  background: url(images/daihatsuayla.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-brio {
  background: url(images/hondabrio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-calya {
  background: url(images/toyotacalya.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-datsun {
  background: url(images/datsungo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-karimun {
  background: url(images/wagonr.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-sigra {
  background: url(images/daihatsusigra.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-avanza {
  background: url(images/avanza.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.thumb-ertiga {
  background: url(images/ertiga.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-ertiga-hybrid {
  background: url(images/ertiga-hybrid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-mobilio {
  background: url(images/mobilio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15px;
}

.thumb-stargazer {
  background: url(images/stargazer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-xenia {
  background: url(images/xenia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15px 0;
}

.thumb-xpander {
  background: url(images/xpander.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-brv {
  background: url(images/brv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.thumb-rush {
  background: url(images/rush.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -10px;
}

.thumb-terios {
  background: url(images/terios.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.thumb-xpander-cross {
  background: url(images/xpander-cross.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-xl7 {
  background: url(images/xl7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thumb-glory560 {
  background: url(images/glory560.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -10px;
}

.main-scroll-div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.cover {
  position: relative;
  width: 90%;
  height: 50%;
}

.scroll-images {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.scroll-images::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
}

.scroll-images::-moz-scrollbar {
  appearance: none;
  -moz-appearance: none;
}

.child-img {
  width: 100%;
  height: 100%;
}

.icon {
  color: black;
  background-color: rgb(240, 240, 240);
  font-size: 30px;
  line-height: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.icon:hover {
  color: red;
}

.sleft {
  rotate: -90deg;
  position: absolute;
  left: 0px;
  top: 100px;
}

.sright {
  position: absolute;
  rotate: 90deg;
  top: 100px;
  right: -30px;
}
